.card-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 37px;
  column-gap: 3%;
  width: 100%;
  height: 100%;
}
@media (max-width: 970px) {
  .card-list {
    grid-template-columns: 1fr;
  }
}
